body, html {
  font-family: "Open Sans", sans-serif;
  height: 100%; }

h1, h2, h3 {
  font-family: "Open Sans", cursive; }

h2 {
  color: #5637dd; }

header h1 {
  color: #5637dd; }

header h2 {
  color: #4938cc; }

.site-footer {
  background-image: linear-gradient(white);
  padding: 20px 0;
  size: fluid; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: whitesmoke;
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #5637dd; }

.carousel {
  border: solid #5637dd; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#reserveModal .modal-header {
  background-color: #5637dd;
  color: white; }

#loginModal .modal-header {
  background-color: #5637dd;
  color: white; }
